---
layout: default
title: Gui yeah
description: Product designer.
featured_image: /images/social.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>A beautiful, minimal two-column
		portfolio theme built for Jekyll.</h1>
		<p>Duet makes your work look simply awesome.</p>

	</div>

</section>

<section class="portfolio">

	<div class="content-wrap portfolio-wrap">

		{% for project in site.projects reversed %}

		<div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ project.url }}">

				<div class="portfolio-item__image">
					<img src="{{ project.featured_image  }}" alt="{{ project.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>